@model IEnumerable<expenseTracker.Models.Expense>

@{
    ViewBag.Title = "Index";
}

<h2>List of Expenses for all Users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>@Html.DisplayNameFor(model => model.Amount)</th>
        <th>@Html.DisplayNameFor(model => model.User.UserName)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
        </tr>
    }

</table>