@model IEnumerable<expenseTracker.Models.Expense>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-md-7">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAndTime)
                </th>
                <th></th>
            </tr>



            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAndTime)
                    </td>
                    <td>
                        @Html.ActionLink("Update", "Update", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>

    @Html.ActionLink("Reset filter", "Index")
</div>
<div class="row">
    @foreach (var item in ViewBag.weeks)
    {
        <div class="col-md-1">
            @Html.ActionLink((string)item, "TotalAmount", "expense", new { week = (int)item }, null )
        </div>
    }
</div>
@using (Html.BeginForm("DateFilter", "Expense"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-actions no-color">
        <p>
            <text>From</text> <input type="date" name="fromDate" id="fromDate" value=@ViewBag.Date />
            <text>To</text> <input name="toDate" type="date" id="toDate" value=@ViewBag.Date />
            <input type="submit" value="Search" />
        </p>
        @Html.ActionLink("Back to Home", "Index", "Home")
    </div>
}
